.video-iframe-div {
  width: 100%;
  height: 100%;

  .video-iframe {
    margin: auto;
    height: 100%;
    width: 100%;
  }
  .no-video-message {
    color: rgba(255, 255, 255, 0.961);
    text-align: center;
    padding-top: 30px;
    font-size: 15px;

    .submessage {
      font-size: 13px;
    }
  }
}
