.App {
  margin: auto;

  .about {
    width: 50%;
    margin: auto;
    color: rgba(255, 255, 255, 0.865);
    text-align: center;

    .about-title {
      
    }

    .about-divider {
      margin: auto;
      margin-bottom: 15px;
    }
    .about-message {
      font-size: 16px;
      margin: auto;
      line-height: 2.2rem;
      margin-bottom: 100px;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  // height: 5%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
