.mdl-textfield__input {
  border: none;
  color: white;
}

.mdl-textfield__label {
  color: rgba(255, 255, 255, 0.536);
}

@mixin shrinkLabel {
  letter-spacing: 0.1rem;
  color: rgba(255, 172, 64, 1);
  font-size: 10px;
  bottom: 19px;
  left: 1px;
  font-weight: 500;
}

.input-field {
  padding: 0 !important;
  width: 100%;
  .input-field-input {
    &:focus {
      outline: none;
    }

    &:focus ~ .input-label {
      @include shrinkLabel();
    }
  }

  .input-label {
    position: absolute;
    font-size: 13px;
    bottom: 4px;
    transition: all 0.15s ease;

    &.is-input {
      @include shrinkLabel();
    }
  }
}

@media only screen and(max-width: 548px) {
  
}
